.field-player {
  border-radius: 5px;

  &._active {
    border: solid 3px rgb(255, 251, 1);
  }
  font-size: 0.6rem;
  //border: solid 1px yellow;
  //background: rgba(21, 139, 186, 0.313);
  cursor: pointer;
  img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:hover{
  background: rgb(220, 217, 7);
  }
}