$colorText: #6d0101;
%tableText {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding-left: 20px;
}
.rules{
  padding-top: 50px;
  background-color: #d7f35d;
  &__container{
    margin: 0 auto;
  }
  &__body{
    display: flex;
  }
  &__logo{
    flex: 0 0 50%;
  }
  &__img{
    max-width: 250px;
    order: 2;
    position: relative;
    z-index: 2;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    padding: 0 15px;
  }
  &__block{
    display: flex;
    flex: 1 1 50%;
    // justify-content: space-around;
    margin-bottom: 10px;
  }
  &__table{
    border-radius: 10px;
  }
  &__about-game{
    color: $colorText;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
  }
  &__items{
    flex: 0 1 51%;
    padding: 20px;
  }
  &__answer{
    flex: 0 1 49%;
    padding: 20px;
  }
}
.table{
  display: flex;
  justify-content: flex-end;
  background: url(../../../public/images/tutorial_page/table.png)center / contain no-repeat;
  transform: translate(128px, -15px) rotate(-71deg);
  width: 250px;
  padding: 20px;
  position: relative;
  z-index: 0;
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    transform: rotate(14deg) translate(-25px, 60px);
    
  }
  &__item{
    @extend %tableText;
    position: relative;
    max-width: 200px;
    color:#3c0202 ;
    text-shadow: -6px 3px 6px #bc4a00;
    font-weight: 700;
    font-size: 15px;
    &:before{
      // content: '';
      width: 10px;
      height: 2px;
      background-color: $colorText;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }
}