$colorText: #6d0101;
%tableText {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding-left: 20px;
}
.rules{
  padding-top: 50px;
  background-color: #d7f35d;
  &__container{
    // max-width: 1330px;
    margin: 0 auto;
  }
  &__body{
    display: flex;
  }
  &__logo{
    flex: 0 0 50%;
  }
  &__img{
    max-width: 250px;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    padding: 0 15px;
  }
  &__block{
    display: flex;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  &__table{
    border-radius: 10px;
  }
  &__about-game{
    color: $colorText;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
  }
  &__items{
    flex: 0 1 51%;
    padding: 20px;
  }
  &__answer{
    flex: 0 1 49%;
    padding: 20px;
  }
}
.table{
  display: flex;
  justify-content: flex-end;
  background-color: rgb(165, 83, 42);
  transform: rotate(2deg);
  width: 250px;
  padding: 20px;
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
  &__item{
    @extend %tableText;
    position: relative;
    &:before{
      content: '';
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}