{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [ 
    "airbnb-base",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    //"airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "include": ["src/**/*.ts", "src/**/*.js", "test/**/*.ts"]
  },
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ],
    "@typescript-eslint/no-explicit-any": 2,
    "react/react-in-jsx-scope": 0
  }
}
