.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(./../../../public/images/start_bg.png);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
