.player-option {
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  background: #5c341bb6;
  &__box {
    display: flex;
    gap: 10px;
  }
  &__image {
    border-radius: 5px;
    height: 60px;
    width: 60px;
  }
  &__control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__player-name, &__choose {
    font-size: 1rem;
    font-family: 'Creepster';
    border-radius: 5px;
    padding: 3px;
    &:active,
    &:focus {
      outline: solid 2px #5e260c;
    }
  }
  &__choose{
  }

  &__description {
    color: #bddb44;
    text-align: justify;
  }
}
