.field-card {
  border: solid 2px rgba(0, 0, 0, 0);
  font-size: 0.6rem;
  //border: solid 1px yellow;
  //background: rgba(21, 139, 186, 0.313);
  cursor: pointer;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:hover{
  background: rgba(217, 220, 7, 0.313);
  }
}
.flip-container {
  perspective: 1000;
  }
   
  .flip-container   {
    ._front {
      transform: rotateY(180deg);
    }
  }
   
  .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
   
  position: relative;
  }
  .front, .back {
  backface-visibility: hidden;
   
  position: absolute;
  top: 0;
  left: 0;
  }
  .front {
  z-index: 2;
  }
  .back {
  transform: rotateY(180deg);
  }